In [1]:
import pandas as pd
import numpy as np
print("imported")

imported

In [3]:
df1=pd.read_csv("D:\Jyotsna\Personal\Coursera Project\Data-Collisions.csv")
df1.head(3)

C:\Users\jyotsna\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N

In [5]:
print(df1.dtypes)

X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE        int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
df1.shape

(194673, 36)

In [7]:
df1.isna().sum(axis = 0)

X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE           0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [8]:
#check how many cells are empty in the file
print(df1.isnull().sum())

X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE           0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [10]:
#Remove rows which are empty in case of Weather, road condition and light condition columns
df2=df1.dropna(subset=['WEATHER','ROADCOND','LIGHTCOND'])
df2.shape

(189337, 36)

In [11]:
# Check the difference between removed cell table and actual table
df1.shape

(194673, 36)

In [12]:
# Check again that no empty cells are in columns (Weather, road condition and light condition)
print(df2.isnull().sum())

X                   5170
Y                   5170
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1812
INTKEY            125875
LOCATION            2554
EXCEPTRSNCODE     109842
EXCEPTRSNDESC     184510
SEVERITYCODE           0
SEVERITYDESC           0
COLLISIONTYPE         21
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
JUNCTIONTYPE        6141
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    159614
UNDERINFL              0
WEATHER                0
ROADCOND               0
LIGHTCOND              0
PEDROWNOTGRNT     184672
SDOTCOLNUM         74500
SPEEDING          180018
ST_COLCODE            18
ST_COLDESC            21
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [13]:
# Check how many unique values are in Severity column
print(df2['SEVERITYCODE'].unique())

[2 1]

In [14]:
# Extract data which we need to draw patter between road condition, weather, light condition, address type, person count in accident and severity of accident include Injury Collision
df3=df2.loc[(df2['SEVERITYCODE'] >= 2.0), ['ADDRTYPE','PERSONCOUNT', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SEVERITYCODE']]
print(df3)

            ADDRTYPE  PERSONCOUNT   WEATHER ROADCOND                LIGHTCOND  \
0       Intersection            2  Overcast      Wet                 Daylight
4       Intersection            2   Raining      Wet                 Daylight
7       Intersection            3     Clear      Dry                 Daylight
9       Intersection            2     Clear      Dry                 Daylight
14             Block            2     Clear      Dry  Dark - Street Lights On
...              ...          ...       ...      ...                      ...
194663         Block            3   Raining      Wet                 Daylight
194666         Block            2     Clear      Wet                 Daylight
194668         Block            3     Clear      Dry                 Daylight
194670  Intersection            3     Clear      Dry                 Daylight
194671  Intersection            2     Clear      Dry                     Dusk

        SEVERITYCODE
0                  2
4                  2
7                  2
9                  2
14                 2
...              ...
194663             2
194666             2
194668             2
194670             2
194671             2

[57052 rows x 6 columns]

In [15]:
# check the size of extracted data, where severity include injury collision
df3.shape

(57052, 6)

In [16]:
# Extract data which we need to draw patter between road condition, weather, light condition, address type, person count in accident and severity of accident include Property Damage Only Collision
df4=df2.loc[(df2['SEVERITYCODE'] <= 1.0), ['ADDRTYPE','PERSONCOUNT', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SEVERITYCODE']]
print(df4)

            ADDRTYPE  PERSONCOUNT   WEATHER ROADCOND                LIGHTCOND  \
1              Block            2   Raining      Wet  Dark - Street Lights On
2              Block            4  Overcast      Dry                 Daylight
3              Block            3     Clear      Dry                 Daylight
5       Intersection            2     Clear      Dry                 Daylight
6       Intersection            2   Raining      Wet                 Daylight
...              ...          ...       ...      ...                      ...
194664  Intersection            8     Clear      Dry                 Daylight
194665  Intersection            2     Clear      Dry                 Daylight
194667         Block            1   Raining      Wet  Dark - Street Lights On
194669         Block            2   Raining      Wet                 Daylight
194672         Block            2     Clear      Wet                 Daylight

        SEVERITYCODE
1                  1
2                  1
3                  1
5                  1
6                  1
...              ...
194664             1
194665             1
194667             1
194669             1
194672             1

[132285 rows x 6 columns]

In [17]:
# check the size of extracted data, where severity include Property Damage Only Collision
df4.shape

(132285, 6)

In [19]:
# Draw relation between address type and injury collision 
df_addresstype_injury=df3.groupby("ADDRTYPE")["SEVERITYCODE"].count().reset_index()
df_addresstype_injury

       ADDRTYPE  SEVERITYCODE
0         Alley            80
1         Block         29429
2  Intersection         27374

In [20]:
# Draw relation between address type and property damage collision 
df_addresstype_property=df4.groupby("ADDRTYPE")["SEVERITYCODE"].count().reset_index()
df_addresstype_property

       ADDRTYPE  SEVERITYCODE
0         Alley           662
1         Block         93892
2  Intersection         36088

In [21]:
# Draw relation between weather condition type and injury collision 
df_weather_injury=df3.groupby("WEATHER")["SEVERITYCODE"].count().reset_index()
df_weather_injury

                     WEATHER  SEVERITYCODE
0          Blowing Sand/Dirt            15
1                      Clear         35808
2             Fog/Smog/Smoke           187
3                      Other           116
4                   Overcast          8739
5              Partly Cloudy             3
6                    Raining         11168
7           Severe Crosswind             7
8   Sleet/Hail/Freezing Rain            28
9                    Snowing           169
10                   Unknown           812

In [22]:
# Draw relation between weather condition type and property damage collision 
df_weather_property=df4.groupby("WEATHER")["SEVERITYCODE"].count().reset_index()
df_weather_property

                     WEATHER  SEVERITYCODE
0          Blowing Sand/Dirt            40
1                      Clear         75200
2             Fog/Smog/Smoke           382
3                      Other           708
4                   Overcast         18942
5              Partly Cloudy             2
6                    Raining         21949
7           Severe Crosswind            18
8   Sleet/Hail/Freezing Rain            85
9                    Snowing           732
10                   Unknown         14227

In [23]:
# Draw relation between road condition type and injury collision 
df_roadcond_injury=df3.groupby("ROADCOND")["SEVERITYCODE"].count().reset_index()
df_roadcond_injury

         ROADCOND  SEVERITYCODE
0             Dry         40004
1             Ice           273
2             Oil            24
3           Other            43
4   Sand/Mud/Dirt            23
5      Snow/Slush           166
6  Standing Water            30
7         Unknown           747
8             Wet         15742

In [24]:
# Draw relation between road condition type and property damage collision 
df_roadcond_property=df4.groupby("ROADCOND")["SEVERITYCODE"].count().reset_index()
df_roadcond_property

         ROADCOND  SEVERITYCODE
0             Dry         84296
1             Ice           933
2             Oil            40
3           Other            88
4   Sand/Mud/Dirt            51
5      Snow/Slush           833
6  Standing Water            85
7         Unknown         14284
8             Wet         31675

In [25]:
# Draw relation between light condition type and injury collision 
df_lightcond_injury=df3.groupby("LIGHTCOND")["SEVERITYCODE"].count().reset_index()
df_lightcond_injury

                  LIGHTCOND  SEVERITYCODE
0   Dark - No Street Lights           334
1  Dark - Street Lights Off           316
2   Dark - Street Lights On         14451
3   Dark - Unknown Lighting             4
4                      Dawn           824
5                  Daylight         38528
6                      Dusk          1938
7                     Other            52
8                   Unknown           605

In [26]:
# Draw relation between light condition type and property damage collision 
df_lightcond_property=df4.groupby("LIGHTCOND")["SEVERITYCODE"].count().reset_index()
df_lightcond_property

                  LIGHTCOND  SEVERITYCODE
0   Dark - No Street Lights          1201
1  Dark - Street Lights Off           876
2   Dark - Street Lights On         33989
3   Dark - Unknown Lighting             7
4                      Dawn          1678
5                  Daylight         77549
6                      Dusk          3951
7                     Other           183
8                   Unknown         12851